body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e201f;
  color: rgb(164, 164, 164);
  max-width: 100vw;
  overflow-x: hidden;
}

.uppercase-input{
  text-transform: uppercase;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
  /* align-items: center; */
  grid-template-rows: 6vh 94vh;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  gap: 4rem;
  /* justify-content: center; */
}

.home-page-title{
  font-size: 3.3rem;
  background-image: linear-gradient(to right, #50bd6c, #33fdce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  color: white;
  max-width: 80%;
}

.tool-container{
  display: grid;
  gap: 1rem !important;
}


.button-gray{
  background-color: #111313;
  color: white;
  border: .1rem solid #50bd6c;
  padding: 1rem;
  min-width: 50%;
}

.hero-section{
  display: grid;
  /* max-width: 45vw;
  min-width: 40vw; */
  /* align-self: center; */
  gap: 1rem;
  /* text-align: center; */
  /* padding: 2rem; */
  /* background-color: red; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ad-container{
  background-color: rgb(52, 52, 52);
  margin-right: 2rem;
}

.result-container{
  padding: 1rem;
  border: .1rem solid rgb(105, 105, 105);
}

.page-content-container{
  min-width: 60vw;
  max-width: 65vw;
  padding: 2rem;
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: #111313;
  border-radius: .3rem;
}

.header-container{
  background-color: #111313;
  padding: 1rem;

}

form{
  display: grid;
  gap: .8rem;
  padding: 1rem;


}

form > div > div{
  display: grid;
  grid-template-columns: 1fr 40%;
}

.symbol-format-example-wrapper{
  /* border: 2px solid red; */
}

.symbol-format-example-wrapper > div{
  display: flex;
  gap: 1rem;
}


.instruction-message{
  border:.1rem solid #50bd6c;
  width: 100%;
  min-height: 2.5rem;
  /* color: #171717; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-wrapper{
  display: grid;
  gap: .5rem;
}

.tool-form-submit{
  background-color: #50bd6c;
  padding: .7rem;
  width: 40%;
  color:#1e201f;
  font-weight: 600;
  border: none;
}

/* form>div>input,
form>div>select{
  width: 20%;
} */
