body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1e201f;
  color: rgb(164, 164, 164); */
  max-width: 100vw;
  overflow-x: hidden;
}

.uppercase-input{
  text-transform: uppercase;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
  /* grid-template-rows: 6vh 94vh; */
  min-height: 100vh;
  max-width: 100vw;
  position: relative;

}

.home-page-title{
  font-size: 3rem;
  text-align: center;
  /* background-image: linear-gradient(to right, #50bd6c, #33fdce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

p{
  color: #636363;
}

.tool-container{
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 2rem;
}

.tool-header-wrapper{
  display: grid;
  /* color: white; */
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
}

h1,h2, button{
  color: #384051;

}

.tool-header-wrapper > h2{
  font-weight: 800;
  font-size: 2rem;
}

.home-page-content{
  display: grid;
  align-self: center;
  /* grid-template-columns: 4fr 2fr; */

}
.hero-section{
  display: grid;
  gap: 1rem;
  /* justify-items: center; */
  /* text-align: center; */

}

.call-to-action-wrapper{
  width: 100%;
  padding-top: 1rem;
}

.button-gray{
  box-shadow: 0 0 .5rem .5px rgb(201, 201, 201);
  background-color: #ffffff;
  font-size: 1rem;
  padding: 1.5rem;
  min-width: 30vw;
  font-weight: 600;
  border: .1rem solid #19c784;
  border-radius: 900rem;
}

::placeholder{
  color: rgb(0, 0, 0);
}


.hero-section > div> p {
  max-width: 70%;
  line-height: 1.5rem;
  text-align: center;
}

.hero-section > div{
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ad-container{
  /* background-color: rgb(52, 52, 52); */
  margin-right: 2rem;
}

.result-container{
  /* justify-self: center; */
}

.result-title-container{
  background-color: #19c784;
  padding: .4rem;
  color: #111313;
  text-align: center;
}

.page-content-container{
  padding: 2rem;
  /* background-color: #111313; */
  border-radius: .3rem;
  max-width: 65vw;
  min-height: 50vh;
  display: grid;
  align-items: center;
}

.red-bg{
  background-color: rgba(255, 0, 0, 0.226);
  border-radius: .45rem;
}

.green-bg{
  background-color: rgba(0, 255, 64, 0.226);
  border-radius: .45rem;

}

.header-container{
  /* background-color: #111313; */
  border-bottom: .2rem solid #19c784;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
}

.result-zone{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result-zone > div {
  border: 1px solid rgb(85, 85, 85);
  padding: .3rem;
}

.instruction-message{
  /* border:.1rem solid #cccccc; */
  background-color: #384051;
  width: 100%;
  padding: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-message > p {
  /* color: #cccccc; */
  font-size: .9rem;
  font-weight: 400;
  color: white;
}

form{
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: #f1f1f1;
}

.inputs-wrapper{
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);*/
  gap: .75rem; 
  max-width: fit-content;

}


.inputs-wrapper > div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label::after{
  content: ' *';
  color: #f45959d4;
}

.button-wrapper{
  /* display: grid; */
  padding-top: 1rem;
}

.tool-form-submit{
  /* color:#ffffff; */
  font-weight: 600;
  /* border:.1rem solid #000000; */
}

.tool-form-clear{
  /* background-color: transparent; */
  /* border: .1rem solid #b34954; */
  /* color:#b34954; */
  font-weight: 600;
}

button{
  padding: .8rem;
}

input, select{
  padding: .2rem;
  outline: none;
  background-color: white;
  border: none;
  /* padding-left: 1rem; */
  /* border-bottom: .1rem solid rgb(190, 190, 190);
  caret-color: #ffffff;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

/* option{
  color: black;
} */
